@mixin sm {
    @media only screen and (min-width: 576px) {
        @content;
    }
}
@mixin md {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
@mixin lg {
    @media only screen and (min-width: 992px) {
        @content;
    }
}
@mixin xl {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}
@mixin IE {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
//support rem-size for IE-8 and below
@function calculateRem($size){
    $remSize: $size / 16px;
    @return $remSize * 1rem; 
}

@mixin font-size($size){
    font-size: $size;
    font-size: calculateRem($size);
}

$primary-color: #000;
$primary-color-hover: #8c8c8c;
$white-color: #fff;
$transition-time: 0.9s;
$section-margin: 0 0 40px 0;
$footer-height: 100px;

body {
    scroll-behavior: smooth;
}

p, a{
    white-space: initial;
    color: $primary-color;
    @include font-size(14px);
    -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    @include md{
        @include font-size(16px);
    }
}

h4{
    @include font-size(16px);
    @include md {
        @include font-size(18px)
    }
}

h2{
    @include font-size(20px);
    @include md {
        @include font-size(22px);
    }
}

.site-wrapper{
    padding-bottom: 80px;
    @include md{
        padding-bottom: $footer-height;
    }  
}

.site-header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $white-color;
    z-index: 1000;
}

.padding-block{
    padding: 40px 0;
}


.section-padding{
    margin: $section-margin;
}

ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.white-style{
    a{
        color: $white-color;
        &:hover{
            color: $primary-color-hover;
        }
    }
    h2{
        color: $white-color;
    }
}

.block-padding{
    padding-top: 40px;
}

.first-section {
    margin-top: 50px;
}

a {
    text-decoration: none;
    @include transition(color $transition-time ease);
    &:hover{
        color: $primary-color-hover;
        text-decoration: none;
    }
}

.nav{
    position: relative;
    justify-content: space-between;
    padding-top: 50px;
    @include xl{
        padding-top: 0;
    }
    .menu{
        opacity: 0;
        display: block;
        margin-top: -150px;
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            display: inline-block;
            height: 1px;
            width: 0%;
            background-color: #000000;
            color: #000000;
        }
        @include transition(opacity, $transition-time ease);
        @include transition(margin-top $transition-time ease);
        @include xl{
            display: block;
            margin-top: 0;
            opacity: 1;
            ul{
                min-height: 50px;
                list-style-type: none;
                margin: 0;
                display: flex;
                align-items: center;
                li{
                    margin-right: 20px;
                    &.active a, &:hover a{
                        color: $primary-color-hover;
                        @include transition(color $transition-time ease);
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .menu.open{
        display: block;
        position: relative;
        opacity: 1;
        width: 100%;
        margin-top: 0px;
        padding: 20px 0;
        @include transition(opacity, $transition-time ease);
        @include transition(margin-top $transition-time ease);
        &::after{
            width: 100%;
        }
        .nav-ul-li{
            margin-left: 0;
            @include transition(margin-left $transition-time ease);
            &.active, &:hover{
                margin-left: 20px;
                a{
                    color: $primary-color-hover;
                }
                @include transition(margin-left $transition-time ease);
            }
        }
    }
    #menu-icon{
        position: absolute;
        right: 0;
        top: 15px;
        display: flex;
        align-items: center;
        @include xl{
            display: none;
        }
    }

}
//support IE browsers
@include IE {
    .menu{
        position: absolute;
        right: 0;
        margin-top: 12px !important;
    }
    .about-body{
        display: block !important;
        min-height: 0 !important;
    }
 }

.logo{
    top: 0px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    @include xl{
        position: static;
        left: auto;
        margin-left: 0;
    }
    img{
        height: 50px;
    }
}

.about{
    background: url(../img/about.jpg), rgba(0, 0, 0, 0.5);
    background-repeat:no-repeat;
    background-position:center;
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        word-wrap: break-word;
        text-align: center;
        min-height: 500px;
        @media screen and (orientation: landscape) {
        }
    }
}

h2.tittle{
    margin-bottom: 20px;
}

.section-header{
    text-align: center;
}

.home{
    &-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: -10px;
    }
}

.card{
    width: 100%;
    max-width: 360px;
    margin: 5px;
    box-sizing: border-box;
}

.contacts-wrap{
    background: url(../img/contacts.jpg);
    background-repeat: no-repeat;
    background-position:center;
    padding-bottom: 0;
    padding: 40px 0px 0px;
    @media (min-width: 576px) {
        padding: 40px 0px;
    }
}

.list{
    &-item{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.list-row {
        & .list-item{
            display: inline-block;
            margin-bottom: 0;
        }
    }
    & .svg-link{
        display: inline-block;
        height: 26px;
        svg{
            fill: $primary-color;
            margin-right: 15px;
            height: 20px;
            width: 20px;
            @include transition(margin-right $transition-time ease);
            @include transition(fill, $transition-time ease);
            @include md{
                height: 26px;
                width: 26px;
            }
        }
        &:hover{
            svg{
                fill: $primary-color-hover;
            }
        }
        &.white{
            color: $white-color;
            svg{
                fill: $white-color;
                @include transition(fill, $transition-time ease);
            }
            &:hover{
                color: $primary-color-hover;
                svg{
                    fill: $primary-color-hover;
                }
            }
        }
    }
    &.moved .svg-link:hover{
        svg{
                margin-right: 20px;
            }
    }
}

.p0{
    padding: 0;
    @media (min-width: 768px) {
        padding: 0 15px;
    }
}

.map{
    height: 450px;
}

address{
    color: $white-color;
}

.accordion{
    .card{
        margin: 0;
        margin-bottom: 5px;
        min-width: 100%;    
        display: block;
        &-header{
            @include transition(background-color, $transition-time, easy);
            cursor: pointer;
        }
        &.active, &-header:hover{
            @include transition(background-color, $transition-time, easy);
                background-color: #cecece;
        }
        &.active .card-body{
            @include transition(max-height, $transition-time, easy);
        }
        &-body{
            @include transition(max-height, $transition-time, easy);
            display: block;
            padding: 0;
            overflow: hidden;
            max-height: 0;
            background-color: $white-color;
            &-content{
                padding: 20px;
            }
        }
    }
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: $white-color;
    background-color: $primary-color;
    opacity: 1;
    @include transition(opacity, bottom, $transition-time);
    & .footer-height{
        height: 80px;
        @include md{
            height: $footer-height;
        }
    }
    span{
        margin-right: 20px;
        display: inline-block;
    }
    p{
        margin-bottom: 0;
        color: $white-color;
    }
    &.hide{
        @include transition(opacity, bottom, $transition-time);
        opacity: 0;
        bottom: -100px;
    }
}
