.site-wrapper {
  padding-bottom: 100px; }

.padding-block {
  padding: 40px 0; }

.section-padding {
  margin: 40px 0 0 0; }

ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.white-style a {
  color: #fff; }
  .white-style a:hover {
    color: #8c8c8c; }

.white-style h2 {
  color: #fff; }

.block-padding {
  padding-top: 40px; }

a {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  -webkit-transition: color 0.9s ease;
  -moz-transition: color 0.9s ease;
  -ms-transition: color 0.9s ease;
  -o-transition: color 0.9s ease;
  transition: color 0.9s ease; }
  a:hover {
    color: #8c8c8c;
    text-decoration: none; }

.nav {
  position: relative;
  justify-content: space-around; }
  .nav .menu {
    opacity: 0;
    display: none;
    margin-top: -150px;
    -webkit-transition: opacity, 0.9s ease;
    -moz-transition: opacity, 0.9s ease;
    -ms-transition: opacity, 0.9s ease;
    -o-transition: opacity, 0.9s ease;
    transition: opacity, 0.9s ease;
    -webkit-transition: margin-top 0.9s ease;
    -moz-transition: margin-top 0.9s ease;
    -ms-transition: margin-top 0.9s ease;
    -o-transition: margin-top 0.9s ease;
    transition: margin-top 0.9s ease; }
    .nav .menu::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: inline-block;
      height: 1px;
      width: 0%;
      background-color: #000000;
      color: #000000; }
    @media only screen and (min-width: 1200px) {
      .nav .menu {
        display: block;
        margin-top: 0;
        opacity: 1; }
        .nav .menu ul {
          min-height: 50px;
          list-style-type: none;
          margin: 0;
          display: flex;
          align-items: center; } }
    @media only screen and (min-width: 1200px) and (min-width: 1200px) {
      .nav .menu ul li {
        margin-right: 20px; } }
    @media only screen and (min-width: 1200px) {
          .nav .menu ul li:last-child {
            margin-right: 0; } }
  .nav .menu.open {
    display: block;
    position: relative;
    opacity: 1;
    width: 100%;
    margin-top: 0px;
    padding: 20px 0;
    -webkit-transition: opacity, 0.9s ease;
    -moz-transition: opacity, 0.9s ease;
    -ms-transition: opacity, 0.9s ease;
    -o-transition: opacity, 0.9s ease;
    transition: opacity, 0.9s ease;
    -webkit-transition: margin-top 0.9s ease;
    -moz-transition: margin-top 0.9s ease;
    -ms-transition: margin-top 0.9s ease;
    -o-transition: margin-top 0.9s ease;
    transition: margin-top 0.9s ease; }
    .nav .menu.open::after {
      width: 100%; }
    .nav .menu.open .nav-ul-li {
      margin-left: 0;
      -webkit-transition: margin-left 0.9s ease;
      -moz-transition: margin-left 0.9s ease;
      -ms-transition: margin-left 0.9s ease;
      -o-transition: margin-left 0.9s ease;
      transition: margin-left 0.9s ease; }
      .nav .menu.open .nav-ul-li:hover {
        margin-left: 20px;
        -webkit-transition: margin-left 0.9s ease;
        -moz-transition: margin-left 0.9s ease;
        -ms-transition: margin-left 0.9s ease;
        -o-transition: margin-left 0.9s ease;
        transition: margin-left 0.9s ease; }
  .nav #menu-icon {
    position: absolute;
    right: 0;
    top: 15px;
    display: flex;
    align-items: center; }
    @media only screen and (min-width: 1200px) {
      .nav #menu-icon {
        display: none; } }

.logo img {
  height: 50px; }

.about {
  background: url(../img/about.jpg), rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center; }
  .about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 500px; }

h2.tittle {
  margin-bottom: 20px; }

h4 {
  font-size: 1.2rem; }

@media only screen and (min-width: 576px) {
  h4 {
    font-size: 1.5rem; } }

.section-header {
  text-align: center; }

.home-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -10px; }

.card {
  min-width: 290px;
  max-width: 290px;
  margin: 5px; }

.contacts-wrap {
  background: url(../img/contacts.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 0;
  padding: 40px 0px 0px; }
  @media (min-width: 576px) {
    .contacts-wrap {
      padding: 40px 0px; } }

.list-item {
  margin-bottom: 10px; }
  .list-item:last-child {
    margin-bottom: 0; }

.list.list-row .list-item {
  display: inline-block;
  margin-bottom: 0; }

.list .svg-link {
  display: inline-block;
  height: 26px; }
  .list .svg-link svg {
    fill: #000;
    margin-right: 15px;
    -webkit-transition: margin-right 0.9s ease;
    -moz-transition: margin-right 0.9s ease;
    -ms-transition: margin-right 0.9s ease;
    -o-transition: margin-right 0.9s ease;
    transition: margin-right 0.9s ease;
    -webkit-transition: fill, 0.9s ease;
    -moz-transition: fill, 0.9s ease;
    -ms-transition: fill, 0.9s ease;
    -o-transition: fill, 0.9s ease;
    transition: fill, 0.9s ease; }
  .list .svg-link:hover svg {
    fill: #8c8c8c; }
  .list .svg-link.white {
    color: #fff; }
    .list .svg-link.white svg {
      fill: #fff;
      -webkit-transition: fill, 0.9s ease;
      -moz-transition: fill, 0.9s ease;
      -ms-transition: fill, 0.9s ease;
      -o-transition: fill, 0.9s ease;
      transition: fill, 0.9s ease; }
    .list .svg-link.white:hover {
      color: #8c8c8c; }
      .list .svg-link.white:hover svg {
        fill: #8c8c8c; }

.list.moved .svg-link:hover svg {
  margin-right: 20px; }

.p0 {
  padding: 0; }
  @media (min-width: 768px) {
    .p0 {
      padding: 0 15px; } }

.map {
  height: 450px; }

address {
  color: #fff; }

.accordion .card {
  min-width: 100%; }
  .accordion .card-header {
    -webkit-transition: background-color, 0.9s, easy;
    -moz-transition: background-color, 0.9s, easy;
    -ms-transition: background-color, 0.9s, easy;
    -o-transition: background-color, 0.9s, easy;
    transition: background-color, 0.9s, easy;
    cursor: pointer; }
    .accordion .card-header:hover, .accordion .card-header.active {
      -webkit-transition: background-color, 0.9s, easy;
      -moz-transition: background-color, 0.9s, easy;
      -ms-transition: background-color, 0.9s, easy;
      -o-transition: background-color, 0.9s, easy;
      transition: background-color, 0.9s, easy;
      background-color: #cecece; }
  .accordion .card-body {
    -webkit-transition: max-height, 0.9s, easy;
    -moz-transition: max-height, 0.9s, easy;
    -ms-transition: max-height, 0.9s, easy;
    -o-transition: max-height, 0.9s, easy;
    transition: max-height, 0.9s, easy;
    display: block;
    padding: 0;
    overflow: hidden;
    max-height: 0; }
    .accordion .card-body.active {
      -webkit-transition: max-height, 0.9s, easy;
      -moz-transition: max-height, 0.9s, easy;
      -ms-transition: max-height, 0.9s, easy;
      -o-transition: max-height, 0.9s, easy;
      transition: max-height, 0.9s, easy;
      display: block; }
    .accordion .card-body-content {
      padding: 20px; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #000;
  opacity: 1;
  -webkit-transition: opacity, bottom, 0.9s;
  -moz-transition: opacity, bottom, 0.9s;
  -ms-transition: opacity, bottom, 0.9s;
  -o-transition: opacity, bottom, 0.9s;
  transition: opacity, bottom, 0.9s; }
  footer .footer-height {
    height: 100px; }
  footer span {
    margin-right: 20px;
    display: inline-block; }
  footer p {
    margin-bottom: 0; }
  footer.hide {
    -webkit-transition: opacity, bottom, 0.9s;
    -moz-transition: opacity, bottom, 0.9s;
    -ms-transition: opacity, bottom, 0.9s;
    -o-transition: opacity, bottom, 0.9s;
    transition: opacity, bottom, 0.9s;
    opacity: 0;
    bottom: -100px; }
